
@import url("http://fonts.cdnfonts.com/css/sofia-pro");
body {
    background-color: #2A2E35;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    overflow-x: hidden;
    font-family: "Sofia Pro", sans-serif;
   
    
}

a {
    text-decoration: none;
    color: white;
}

.profile {
    background-image: url(./profile.jpg);
    background-size: cover;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    border: solid #45d1a2;
    box-shadow: 1px 1px 1px black;
    margin-top: -20px;
    
}

.title-name {
    margin-bottom: -12px;
}


.highlight-text {
    color: #45d1a2
}

.highlight-text-red {
    color: red
}

/* Social Bar Code */
.social-container {
    display: flex;
    flex-direction: column;
}

.social-title {
    margin-top: 0px;
}

.bmc-btn-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.github {
    background: linear-gradient(to right, #4078C0 0%, #6E5494 100%);
    width: 300px;
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}

.twitter {
    background: linear-gradient(to right, #36D8FF 0%, #00ACEE 100%);
    width: 300px;
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}



.linkedin {
    background: linear-gradient(to right, #0077B5 0%, #00A0DC 100%);
    width: 300px;
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;

}

.instagram {
    background: linear-gradient(to right, #F58529 0%, #DD2A7B 100%);
    width: 300px;
    height: 55px;
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Sofia Pro", sans-serif;
    font-size: 1.2em;
    font-weight: 700;
    color: white;
    margin-bottom: 15px;
}

.footer-text {
    margin-top: 10px;
}

